// Import Bootstrap and its default variables
@import './variables';
@import '~bootstrap/scss/bootstrap.scss';

.card-toolbar + .card-toolbar-spacer {
    display: block;

    padding-bottom: 4rem;
}

.card-toolbar {
    position: absolute;
    bottom: 0;

    padding: ($spacer * 1.25);
}
.btn > svg {
    margin-right: ($spacer * 0.25);
}

.card.article {
    min-height: ($spacer * 15);
}

.card.section {
    position: relative;

    min-height: ($spacer * 15);

    margin: ($spacer);

    &-active {
        background-color: $gray-700;
    }

    .section-tools {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        .section-action-previous {
            position: absolute;
            top: 0;
            right: 50%;

            transform: translate(50%, -25%);
        }

        .section-action-child {
            position: absolute;
            top: 50%;
            right: 0;

            transform: translate(25%, -50%);
        }

        .section-action-next {
            position: absolute;
            bottom: 0;
            right: 50%;

            transform: translate(50%, 25%);
        }
    }


}

.columns {
    .column {
        overflow-y: auto;
    }
}